* {
    margin: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 1rem;
}

svg path {
    fill: none;
    stroke: #333;
    stroke-width: 3px;
}


#site-container {
    display: grid;
    grid-template-columns: 240px auto;
}

#navbar { 
    height: 100vh;
    width: 240px;
    border-right: 1px solid #888;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#draw-area {
    width: 100%;
}

#navbar img {
    transform: translateY(2px);
}
#navbar svg {
    color:#6363d7;
}

button {
    padding: 8px 20px;
    border: none;
    background-color: white;
    text-align: left;
    border-bottom: 1px solid #888;
}

button:hover {
    background-color: rgb(194, 226, 255);
}